:root {
    --bg-primary-color: #2D4356;
    --bg-secondary-color: #435B66;
    --details-primary-color: #A76F6F;
    --details-secondary-color: #EAB2A0;
    --text-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}



.container{
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: var(--bg-primary-color);
    display: flex;
    flex: 1;
    flex-direction: column;
}

.img-container {
    background-image: url(/assets/img/bg-img.svg);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-container {
    width: 100%;
    background-color: #ffffff31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > h1 {
    font-size: 4rem;
}

.logo {
    width: 100px;
}

.description {
    color: var(--text-color);
    background-color: var(--bg-primary-color);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 50px 15px;
    line-height: 1.5;
}

.form-section {
    z-index: 2;
    -webkit-box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.54); 
    box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.54);
}
.sign-up-form{
    
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--details-primary-color);
    background-color: var(--bg-secondary-color);
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.55);
}

.input-container {
    display: flex;
    flex-direction: column;
    flex: 100%;
    gap: 5px;
}

.input-container > input {
    color: var(--text-color);
    padding: 5px;
    height: 2.5rem;
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--details-secondary-color);
}

.submit-section {
    background-color: var(--bg-primary-color);
    padding: 50px 15px 70px 15px;
    height: fit-content;
}

.submit-btn {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--details-primary-color);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.25s;
}

    .submit-btn:hover,
    .submit-btn:focus {
      box-shadow: 0 0.5em 0.5em -0.4em var(--details-secondary-color);
      transform: translateY(-0.25em);
    }

    .submit-btn:active {
        box-shadow: 0 0 0 0 white;
        background-color: #915f5f;
        opacity: 1;
        transition: 0s;
      }
    

.button-container > p {
    font-size: 1.6rem;
}

.button-container > p a{
    font-size: 2rem;
    text-decoration: none;
    color: #EAB2A0;
}

@media screen and (min-width: 799px ) {

    .img-container{
        height: 350px;
    }

    .description {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.9rem;
    }

    .sign-up-form{
        padding-top: 40px;
        padding-bottom: 40px;
        row-gap: 20px;
        font-size: 1.7rem;
    }

    .input-container {
        flex: calc(50% - 10px);
    }

    .button-container > button {
        padding: 15px 30px;
    }
    
}

@media screen and (min-width: 1000px) {
    .container {
        background-color: var(--bg-secondary-color);
        height: 100vh;
        flex-direction: row;
    }

    .img-container {
        height: 100vh;
        width: 40%;
    }

    .main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}