:root {
    --bg-primary-color: #2D4356;
    --bg-secondary-color: #435B66;
    --details-primary-color: #A76F6F;
    --details-secondary-color: #EAB2A0;
    --text-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container{
    display: flex;
    flex-direction: column;
}

.img-container {
    background-image: url(/assets/img/sunset-bg-small.jpg);
    background-position: center;
    height: 250px;
    width: 100%;
}

.description {
    background-color: var(--bg-secondary-color);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 5px;
}

.form{
    display: flex;
    /* flex-direction: row ; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--details-primary-color);
    background-color: var(--bg-primary-color);
}

.input-container {
    display: flex;
    flex-direction: column;
    flex: 100%;
    gap: 5px;
}

.input-container > input {
    height: 2.5rem;
    background-color: var(--bg-primary-color);
    border: 1px solid var(--details-secondary-color);
}